* {
    box-sizing: border-box;
    background-color: rgb(41, 44, 41);
    font-family: 'Righteous', cursive;
    padding: 0%;
    margin: 0%;
}

body{
    margin: 1%;
}


iframe{
    border: 8px solid rgb(52, 119, 52);
    border-radius: 4px;
}

ul{
    text-align: left;
    
}

p{
    
    color: rgb(74, 148, 74);
    text-align: left;
    font-size: 125%;
}


.rules{
    text-align: left;
    color:rgb(154, 207, 184);
    background-color: rgb(185, 211, 226);
}


.deckList{
    color: pink;
}